*{
    user-select: none;
}
body{
    background: gray;
}
#table{
    border: solid yellow 2px;
}
#table tr{
    line-height: auto;
    width: auto;
}
.block{
    width: 25px;
    height: 25px;
    background: black;
    text-align: center;
}
.boom{
    background: red;
}
.number{
    background: rgb(80, 80, 80);
    color: white;
}
.mask{
    background: rgb(204, 132, 49);
    color: rgb(204, 132, 49);
}